* {
  position: relative;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363d47;
}

#buylist {
  display: inline-block;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

h1 {
  text-align: center;
  padding: 20px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: solid 4px #444;
  background-color: #497dd1;
  color: #fff;
  border-radius: 15px 15px 0 0;
}

#items_list {
  margin-top: 10px;
  padding: 5px;
}

.buyitem {
  padding: 5px;
  list-style: none;
  border: solid 3px;
  margin-top: 10px;
  font-weight: 900;
}
.buyitem input {
  width: 100px;
  border: solid 3px;
  padding: 2px;
}
.buyitem .price {
  display: inline-block;
  position: absolute;
  padding-left: 8px;
  padding-right: 8px;
  right: 50px;
  text-align: left;
}
.buyitem .price:after {
  content: " $";
}
.buyitem .del_btn {
  display: inline-block;
  position: absolute;
  padding: 0px 6px;
  right: 10px;
  cursor: pointer;
}
.buyitem .del_btn:hover {
  background-color: #333;
  color: white;
}
.buyitem .addbtn {
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  background-color: #497dd1;
  color: #fff;
}
.buyitem .addbtn:hover {
  background-color: #333;
  color: white;
}

.control {
  padding: 20px;
}

.total {
  background-color: #497dd1;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
}